@model PCShopProjekt.Models.ZleceniaViewModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Czy chcesz usunąć to zlecenie?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Klient</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.KlientFullName)</dd>

        <dt class="col-sm-2">Urządzenie</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.UrzadzenieDetails)</dd>

        <dt class="col-sm-2">Technik</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.TechnikFullName)</dd>

        <dt class="col-sm-2">Status Płatności</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.StatusPlatnosci)</dd>

        <dt class="col-sm-2">Data Przyjęcia</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.DataPrzyjecia)</dd>

        <dt class="col-sm-2">Opis Usterki</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.OpisUsterki)</dd>

        <dt class="col-sm-2">Usługa</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.NazwaUslugi)</dd>

        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Status)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót</a>
    </form>
</div>
